
# Python virtual environments
statarbvenv/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints
*/.ipynb_checkpoints/*


# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db
*.log

# Temporary files
*.tmp
*.bak
*.swp
*~